
/*
*{
    border: 1px solid black;
}
   
*/
.main {
    background-color:rgba(247, 246, 243, 0.945);
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.top > img{
    margin: 2%;

    width: 4%;
    height: auto;  
}
.top >a{
    font-size: 25;
    font-weight: 800;
    color: #403E3E;
    text-decoration: none;

}
.mid{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-grow:1;

    
   

}
.text>h2{

    text-align: center;
    margin: auto;
    font-size: 3em;
    

}
.text>p{
    font-size: 2.7em;
    text-align: center;
    height: 60%;
    width: auto;
    margin: auto;
    
}
.boy{
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;



}

.bute{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: #EEECEC;
    background: #FC5C57;
    height: auto;
    border: #FC5C57;
    margin-left: 50%;
    padding: 1%;
    border-radius: 10%;
    position: absolute;
    
    
    
}